@model ContactBook.Models.ContactModel

@{
    Layout = "~/views/shared/_layout.cshtml";
}

<div class="edit-profile-wrap py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4  col-md-6">
                <div class="card edit-profile-card p-3">
                    <div class="card bg-white">
                        <div class="card-header-wrap">
                            <a href="@Url.Action("Index", "Contact")" class="back-arrow"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                            <button class="btn edit-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                            <img src="~/images/edit-profile-bg.jpg" class="card-img-top img-fluid" alt="...">
                            <div class="user-img">
                                <img src="@(Model.contactsModel.ImageUrl != null ? "data:image/jpeg;base64," + @Model.contactsModel.ImageUrl : "images/people-2.jpg")" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="user-info text-center mt-4">
                                <h5 class="card-title mb-0">@Model.contactsModel.FirstName @Model.contactsModel.LastName</h5>
                                <p>@Model.contactsModel.Company</p>
                            </div>
                            <div class="contact-details">
                                <ul>
                                    <li class="d-flex gap-3 align-items-center">
                                        <i class="fa-solid fa-mobile"></i>
                                        <div class="mobile">
                                            <p class="text-uppercase mb-0">
                                                MOBILE
                                            </p>
                                            <h6>@Model.contactsModel.Phone</h6>
                                        </div>
                                    </li>
                                    <li class="d-flex gap-3 align-items-center">
                                        <i class="fa fa-birthday-cake"></i>
                                        <div class="mobile">
                                            <p class="text-uppercase mb-0">
                                                Birthdate
                                            </p>
                                            <h6>@(Model.contactsModel.birthdate != null ? Model.contactsModel.birthdate.Value.ToString("MM/dd/yyyy") : "")</h6>
                                        </div>
                                    </li>
                                    <li class="d-flex gap-3 align-items-center">
                                        <i class="fa-solid fa-envelope"></i>
                                        <div class="mobile">
                                            <p class="text-uppercase mb-0">
                                                Email
                                            </p>
                                            <h6><a href="mailto:@Html.Raw(Model.contactsModel.Email)">@Model.contactsModel.Email</a></h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-white mt-3 social-feed">
                        <div class="card-body">
                            <div class="user-info text-left ">
                                <div class="d-flex gap-3">
                                    <img src="~/images/facebook.png" alt="" class="social">
                                    <div class="content">
                                        <h6 class="card-title mb-0">Looking forward to the Mediterranean cruise today</h6>
                                        <p class="mb-0">Santorini 2hr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-white mt-3 social-feed">
                        <div class="card-body">
                            <div class="user-info text-left ">
                                <div class="d-flex gap-3">
                                    <img src="~/images/instagram.png" alt="" class="social">
                                    <div class="content">
                                        <h6 class="card-title mb-0">Beautiful sunset</h6>
                                        <p class="">14 hr</p>
                                        <img src="~/images/footer.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form asp-action="SaveContact" asp-controller="Contact" id="contactform" method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <input asp-for="contactsModel.Id" type="hidden" name="Id">
                    <div class="form-group row m-3">
                        <label for="Fname" class="col-2">First Name</label>
                        <div class="col-6">
                            <input asp-for="contactsModel.FirstName" type="text" class="form-control" name="FirstName">
                            <span asp-validation-for="contactsModel.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Fname" class="col-2">Last Name</label>
                        <div class="col-6">
                            <input asp-for="contactsModel.LastName" type="text" class="form-control" name="LastName">
                            <span asp-validation-for="contactsModel.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Image" class="col-2">Profile Image</label>
                        <div class="col-6">
                            @if (Model.contactsModel != null && Model.contactsModel.ImageUrl != null)
                            {
                                <img id="displayImage" name="displayImage" src="@(Model.contactsModel.ImageUrl != null ? "data:image/jpeg;base64," + Model.contactsModel.ImageUrl : "images/default_user.jpg")" style="width:100px;height:100px" />
                            }
                            else
                            {
                                <img id="displayImage" name="displayImage" src="~/images/default_user.jpg" style="width:100px;height:100px" />
                            }

                            <input asp-for="contactsModel.ImageUrl" type="hidden" name="ImageUrl">

                            <a class="btn btn-primary btn-add-image">Add</a>
                            <input type="file" name="ImageData" id="btn-file" style="display:none" />
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Fname" class="col-2">Company</label>
                        <div class="col-6">
                            <input asp-for="contactsModel.Company" type="text" class="form-control" name="Company">
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Fname" class="col-2">Phone Number</label>
                        <div class="col-6">
                            <input asp-for="contactsModel.Phone" type="text" class="form-control" name="Phone">
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Fname" class="col-2">Email</label>
                        <div class="col-6">
                            <input asp-for="contactsModel.Email" type="text" class="form-control" name="Email">
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Lname" class="col-2">Address</label>
                        <div class="col-6">
                            <textarea asp-for="contactsModel.Address" type="text" class="form-control" cols="5" maxlength="4000" name="Address"></textarea>
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="MobileNo" class="col-2">DOB</label>
                        <div class="col-6">
                            <div class="input-group date">
                                <input asp-for="contactsModel.birthdate" class="form-control" type="date" id="DOB" placeholder="mm/dd/yyyy" name="birthdate">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Lname" class="col-2">Note</label>
                        <div class="col-6">
                            <textarea asp-for="contactsModel.Note" type="text" class="form-control" cols="5" maxlength="4000" name="Note"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
