@model ContactBook.Models.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/views/shared/_layout.cshtml";
}
@{
    string searchValue = Context.Request.Query["Search"];
}


<div class="contact-list-wrap py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6">
                <div class="card">
                    <div class="page-header ">
                        <div class=" py-2 px-3">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <h5 class="card-title mb-0">Contacts</h5>
                                <span class="add-icon"> <i class="fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></span>
                            </div>
                            <form asp-action="Index" asp-controller="Contact" method="get" class="form-inline" id="searchForm" enctype="multipart/form-data">
                                <div class="search-control-wrap">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="@searchValue" name="search">
                                    <button class="btn">
                                        <img src="images/search-icon.svg" alt="">
                                    </button>
                                </div>
                            </form>
                        </div>

                        <hr class="mb-0" />

                    </div>
                    <div class="card-body">
                        <div class="contact-list">
                            @if (Model.Contacts.Count > 0)
                            {
                                @foreach (var group in Model.Contacts.OrderBy(x => x.FirstName).GroupBy(x => x.FirstName[0]))
                                {
                                    <div class="user-details">
                                        <h6 class="letter py-2">@group.Key</h6>
                                        <div class="d-flex gap-3 user-list-wraper">
                                            <div class="user-list">
                                                @foreach (var contact in group)
                                                {
                                                    <a href="@Url.Action("ContactDetails", "Contact", new{id = contact.Id})" class="text-decoration-none" style="color:#7d95ab">
                                                        <div class="d-flex align-items-center gap-4 mb-3">
                                                            <div class="user-img">
                                                                <img src="@(contact.ProfileImage != null ? "data:image/jpeg;base64," + Convert.ToBase64String(contact.ProfileImage) : "images/people-2.jpg")" alt="">
                                                            </div>
                                                            <div class="user-info">
                                                                <h5 class="name mb-0 font-bold" style="color:black">@contact.FirstName @contact.LastName</h5>
                                                                <p class="mb-0">@contact.Company</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <span>No contect found</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade pac-container" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form asp-action="SaveContact" asp-controller="Contact" id="contactform" method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <input asp-for="contactsModel.Id" type="hidden" name="Id">
                    <input asp-for="contactsModel.Longitude" type="hidden" name="Longitude">
                    <input asp-for="contactsModel.Latitude" type="hidden" name="Latitude">
                    <div class="form-group row m-3">
                        <label for="Fname" class="col-2">First Name</label>
                        <div class="col-6">
                            <input asp-for="contactsModel.FirstName" type="text" class="form-control" name="FirstName">
                            <span asp-validation-for="contactsModel.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Fname" class="col-2">Last Name</label>
                        <div class="col-6">
                            <input asp-for="contactsModel.LastName" type="text" class="form-control" name="LastName">
                            <span asp-validation-for="contactsModel.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Image" class="col-2">Profile Image</label>
                        <div class="col-6">
                            @if (Model.contactsModel != null && Model.contactsModel.ImageUrl != null)
                            {
                                <img id="displayImage" name="displayImage" src="@(Model.contactsModel.ImageUrl != null ? "data:image/jpeg;base64," + Model.contactsModel.ImageUrl : "images/default_user.jpg")" style="width:100px;height:100px" />
                            }
                            else
                            {
                                <img id="displayImage" name="displayImage" src="~/images/default_user.jpg" style="width:100px;height:100px" />
                            }
                            <input asp-for="contactsModel.ImageUrl" type="hidden" name="ImageUrl">

                            <a class="btn btn-primary btn-add-image">Add</a>
                            <input type="file" name="ImageData" id="btn-file" style="display:none" />
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Fname" class="col-2">Company</label>
                        <div class="col-6">
                            <input asp-for="contactsModel.Company" type="text" class="form-control" name="Company">
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Fname" class="col-2">Phone Number</label>
                        <div class="col-6">
                            <input asp-for="contactsModel.Phone" type="text" class="form-control" name="Phone">
                            <span asp-validation-for="contactsModel.Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Fname" class="col-2">Email</label>
                        <div class="col-6">
                            <input asp-for="contactsModel.Email" type="text" class="form-control" name="Email">
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Lname" class="col-2">Address</label>
                        <div class="col-6">
                            <input asp-for="contactsModel.Address" type="text" class="form-control" id="search_address_input" placeholder="Type address..." name="Address" />
                        </div>
                    </div>

                    <div class="form-group row m-3">
                        <label for="MobileNo" class="col-2">DOB</label>
                        <div class="col-6">
                            <div class="input-group date">
                                <input asp-for="contactsModel.birthdate" class="form-control" type="date" id="DOB" placeholder="mm/dd/yyyy" name="birthdate">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="Lname" class="col-2">Note</label>
                        <div class="col-6">
                            <textarea asp-for="contactsModel.Note" type="text" class="form-control" cols="5" maxlength="4000" name="Note"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {

    <script>
        $(document).ready(function () {
            $('#exampleModal').on('shown.bs.modal', function () {
                var autocomplete = new google.maps.places.Autocomplete(document.getElementById('search_address_input'), {
                    types: ['geocode']
                });

                autocomplete.addListener('place_changed', function () {
                    var place = autocomplete.getPlace();

                    $('#contactsModel_Longitude').val(place.geometry.location.lng());
                    $('#contactsModel_Latitude').val(place.geometry.location.lat());

                    // Initialize Google Map
                    var mapOptions = {
                        center: place.geometry.location,
                        zoom: 15
                    };
                    map = new google.maps.Map(document.getElementById('map'), mapOptions);

                    marker = new google.maps.Marker({
                        position: place.geometry.location,
                        map: map,
                        title: place.name
                    });
                });
            });

            var searchInput = $('#searchInput');

            searchInput.on('input', function () {
                $('#searchForm').submit();
            });

            $('#contactform').submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveContact", "Contact")',
                    data: formData,
                    dataType: 'html',
                    success: function (response) {
                        console.log(response);
                        if (response === "true") {
                            $('#exampleModal').modal('hide');
                            setTimeout(function () {
                                window.location.href = "/Contact/Index"
                            }, 1000);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

        });
    </script>
}
